@media screen and (min-width: 1201px) {
  .contact-item {
    flex: 0 0 30%; /* Show 3 items in the same row */
  }

  .project-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
    margin-inline: 2.5rem;
  }
  .card__img {
    width: 310px;
  }
  .card__data {
    width: 200px;
    padding-inline: 2.5rem;
  }
  .card__article {
    margin: 2rem;
  }
  #experience {
    margin-top: 1px;
  }
}

@media screen and (max-width: 1200px) {
  section {
    padding-top: 6vh;
    margin: 2rem 4rem;
    box-sizing: border-box;
    min-height: fit-content;
  }

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px; /* Add padding for better spacing between the corners*/
  }

  #profile,
  .section-container {
    display: block;
  }

  .profile__section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto;
    padding-top: 4rem;
  }

  #experience {
    margin-top: 150px;
  }

  .exp-item-container article {
    flex: 0 1 calc(33.33% - 2rem); /* Reset width for one item per row on smaller screens */
    max-width: calc(
      50% - 2rem
    ); /* Reset max-width for one item per row on smaller screens */
  }

  .project-grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  section,
  .section-container {
    height: fit-content;
  }

  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 2rem;
  }

  .contact-items {
    flex-direction: column; /* Display items in a column for smaller screens */
    max-width: 550px;
  }
  .contact-item {
    flex: 0 0 auto;
    margin-bottom: 20px; /* Add space between items */
  }

  #about {
    padding-top: 6vh;
  }
  .about__section__pic-container {
    display: flex;
    margin-bottom: 3rem;
  }

  .com-container {
    margin-inline: 0.5rem;
  }
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .card__img {
    width: 280px;
  }
  .card__data {
    width: 150px;
    padding-inline: 2.5rem;
  }
  .card__article {
    margin: 1rem;
  }

  .pro__title {
    font-size: 3rem;
    text-align: center;
  }

  #back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 32px;
    right: 20px;
    background-size: 55px;
    width: 35px;
    height: 35px;
  }

  .c__icon img {
    width: 75px; /* Adjust icon size */
    margin: 8px 7px; /* Center icon vertically */
  }
}

@media screen and (max-width: 800px) {
  #profile {
    height: 80vh;
    margin-bottom: 0;
  }
  .profile__section__pic-container {
    display: flex;
    height: 300px;
    width: 300px;
    margin: auto;
  }
  article {
    font-size: 1rem;
  }

  .btn-container {
    flex-wrap: wrap;
  }

  .nav-links li a {
    font-size: 1rem;
  }

  .logo {
    font-size: 2.2rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .pro__title {
    font-size: 2rem;
    text-align: center;
  }

  .animate-text span {
    font-size: 20px;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    justify-content: space-between; /* Adjust alignment for better mobile experience */
    padding: 20px; /* Add padding for better spacing between the corners*/
  }

  .contact-item {
    padding: 15px; /* Add padding to each item */
  }
  .footer h1 {
    font-size: 20px;
  }

  .footer p {
    font-size: 14px;
  }

  .social-icon img {
    width: 40px;
    height: 40px;
  }
  .project-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  #experience {
    margin-top: 200px;
  }

  .experience-main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .exp-details-container {
    padding: 1rem;
    margin-bottom: 1.5rem;
  }

  .exp-item-container article {
    flex: 0 1 calc(50% - 2rem); /* Reset width for one item per row on smaller screens */
    max-width: calc(
      100% - 2rem
    ); /* Reset max-width for one item per row on smaller screens */
  }

  section {
    padding-top: 10vh;
    margin: 2rem 4rem;
    box-sizing: border-box;
    min-height: fit-content;
  }
  #about {
    padding-top: 8vh;
  }
  .com-container {
    margin-inline: 0.5rem;
  }
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
  }

  .card__img {
    width: 270px;
    border-radius: 1.5rem;
  }

  .card__data {
    width: 170px;
    padding: 1rem;
  }

  #back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 32px;
    right: 20px;
    background-size: 45px;
    width: 35px;
    height: 35px;
  }

  .description {
    color: black;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-align: justify;
  }

  .com-title {
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .project-title {
    font-size: 24px;
  }

  .c__icon img {
    width: 65px; /* Adjust icon size */
    margin: 3px 7px; /* Center icon vertically */
  }
}

@media screen and (max-width: 570px) {
  #experience {
    margin-top: 150px;
  }

  .exp-item-container article {
    flex: 0 1 calc(100% - 2rem); /* Reset width for one item per row on smaller screens */
    max-width: calc(
      100% - 2rem
    ); /* Reset max-width for one item per row on smaller screens */
  }

  .profile__section__pic-container {
    display: flex;
    height: 200px;
    width: 200px;
    margin: auto;
  }

  .pro__title {
    font-size: 1.3rem;
    text-align: center;
  }

  .animate-text span {
    font-size: 15px;
  }

  section {
    padding-top: 8vh;
    margin: 2rem 2rem;
    box-sizing: border-box;
    min-height: fit-content;
  }

  .project-card {
    padding: 0.7rem;
    width: 90%;
    height: 90%;
    margin: auto;
  }

  #about {
    padding-top: 8vh;
  }
  .about-pic {
    border: 6px solid transparent;
    border-radius: 2rem;
    height: 180px;
    width: 230px;
    margin: auto;
  }

  .com-container {
    margin-inline: 0.5rem;
  }

  .card__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .card__data {
    width: 150px;
    padding: 1rem;
  }

  .card__description {
    font-size: 0.7rem;
    margin-bottom: 0.25rem;
  }

  .card__title {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
  }

  .card__button {
    text-decoration: none;
    font-size: 0.813rem;
  }
  .card__article {
    margin: 0.5rem;
    padding-bottom: 2rem;
  }

  .card__img {
    width: 200px;
    border-radius: 1.5rem;
  }

  .contact-info p {
    margin: 3px 0; /* adjust margin for the paragraph */
    padding: 0 1rem; /* Add padding to the paragraph */
    font-size: 10px;
  }

  .contact-info h6 {
    margin: 3px 0; /* adjust margin for the heading */
    padding: 0 1rem; /* Add padding to the heading */
    font-size: small;
  }

  .c__icon img {
    width: 50px; /* Adjust icon size */
    margin: 3px 7px; /* Center icon vertically */
  }

  #back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-size: 50px;
    width: 30px;
    height: 30px;
  }

  .description {
    color: black;
    font-weight: normal;
    font-size: small;
    line-height: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-align: justify;
  }

  .com-title {
    color: black;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: 3rem;
    text-align: center;
  }

  .project-title {
    font-size: 22px;
  }
}
