/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Noto+Color+Emoji&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3eed9;
}

html {
  scroll-behavior: smooth;
}

p {
  color: #555555;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}
/* All ICONS */

.icon {
  height: 3rem;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}
/* DEFAULT SECTIONS */

section {
  padding-top: 12vh;
  margin: 1rem 6rem;
  box-sizing: border-box;
  min-height: fit-content;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.116); /* box shadow to the bottom */
  background-image: linear-gradient(60deg, #29323c 0%, #485563bb 100%);
}

.nav-links {
  gap: 5rem;
  list-style: none;
  font-size: 1.2rem;
}

a {
  color: #f3eed9;
  text-decoration: none;
}

a:hover {
  color: #db143c;
}

.logo {
  font-size: 2.5rem;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
  height: 1ch; /* HAMBURGER NAV BAR SIZE */
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 23.5px;
  width: 30px;
  cursor: pointer;
  padding-right: 40px;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: crimson;
}

/*MENU CONTAINER*/
.menu-links {
  position: absolute;
  top: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563bb 100%);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  border-radius: 5%;
  margin-top: 2ch;
  right: 5ch;
}

.menu-links a {
  display: block;
  padding: 18px 15px;
  text-align: center;
  font-size: 1rem;
  color: #f3eed9;
  text-decoration: none;
}
.menu-links a:hover {
  color: crimson;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 400px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 8rem;
  height: 90vh;
}

.profile__section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto;
}
.profile__section__pic-container img {
  border-radius: 100%;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text__p1 {
  text-align: center;
  font-weight: 400;
}

.pro__title {
  font-size: 3rem;
  text-align: center;
}
.animate-text {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  font-weight: 600;
  margin: 0;
  overflow: hidden;
}

.animate-text span {
  font-size: 30px;
  color: crimson;
  font-weight: 700;
  display: inline-block;
  line-height: 46px;
  display: none;
}

.animate-text span.text-in {
  display: block;
  animation: textIn 0.5s ease;
}

.animate-text span.text-out {
  animation: textOut 0.5s ease;
}

@keyframes textIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes textOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.description {
  color: black;
  font-weight: normal;
  font-size: medium;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: justify;
}

.title {
  font-size: 3rem;
  text-align: center;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 1rem;
}

.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-2:hover {
  background: crimson;
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

/* EXPERIENCE SECTION */

.experience-sub-title {
  color: #555555;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.exp-details-container {
  padding: 1.5rem;
  flex: 1;
  background: #f3eed9;
  border-radius: 2rem;
  border: 0.1rem solid rgb(163, 163, 163);
  text-align: center;
}

.exp-item-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-around;
}

.exp-item-container article {
  flex: 0 1 calc(33.33% - 2rem); /* Adjust width for three items per row */
  max-width: calc(33.33% - 2rem); /* Adjust max-width for three items per row */
}

/* PROJECTS SECTION */

.project-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
  border-color: rgba(53, 53, 53, 0.378);
  border-style: solid;
  border-width: 3px;
  object-fit: cover;
}

.project-title {
  margin: 1rem;
  color: black;
  text-align: center;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

.git__project-btn {
  border-color: transparent;
  background-color: transparent;
}

.git__icon {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.git__icon:hover {
  opacity: 0.6;
}

.pro__btn-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 1rem;
}

.project-card {
  padding: 1.5rem;
  flex: 1;
  background: #f3eed9;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
.project-card:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

/* ABOUT SECTION */

#about {
  position: relative;
  margin-bottom: 8rem;
  padding-top: 18vh;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.section-container {
  display: flex;
  gap: 4rem;
  height: 80%;
}

.about__section__pic-container {
  display: flex;
}
.about-pic {
  border: 6px solid transparent;
  border-radius: 2rem;
  height: 300px;
  width: 400px;
  margin: auto;
}

.text-container {
  text-align: justify;
}

.com-title {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;
}

.com-container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 300px;
  border-radius: 1.5rem;
}

.card__data {
  width: 200px;
  background-color: #f3eed9;
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.688);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
  color: #29323c;
  font-weight: 500;
}

.card__title {
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
  margin-bottom: 0.75rem;
}

.card__button {
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 400;
  color: #555555;
}

.card__button:hover {
  text-decoration: underline;
}
/* card article animation */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/* CONTACT */
#contact {
  padding-bottom: 4rem;
}
.contact-items {
  display: flex; /* Ensure items are displayed in a row */
  justify-content: space-between; /* Spread items horizontally */
  margin: 20px auto; /* Adjust margin as needed */
  max-width: 1200px; /* Limit width to prevent items from spreading too far */
}

.contact-item {
  flex: 0 0 30%; /* Each item occupies 30% of the container */
  box-shadow: 0px 0px 18px 0 #00000032;
  transition: 0.3s ease box-shadow;
  border-radius: 1rem;
}

.contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}

.c__icon img {
  width: 75px; /* Adjust icon size */
  margin: 5px 10px; /* Center icon vertically */
}

.contact-info p {
  margin: 5px 0;
  padding: 0 1.5rem 1rem; /* Combining padding properties */
  font-size: medium;
}

.contact-info h6 {
  margin: 5px 0; /* adjust margin for the heading */
  padding: 0 1.6rem; /* Add padding to the heading */
  font-size: 14px;
}

.contact-info a {
  color: #555555;
}
.contact-info a:hover {
  color: crimson;
}

/*End contact Section */

/* FOOTER SECTION */

.footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563bb 100%);
  padding: 20px;
  text-align: center;
}

.footer h1 {
  font-size: 24px;
  margin-bottom: 10px;
  background-color: transparent;
  background-image: linear-gradient(
    to bottom,
    #f3eed9,
    #e7c899,
    #e39d65,
    #e16944,
    #db143c
  );
  /* 
  Define the standard property 'background-clip' for compatibility
  with older browsers and Safari/Chrome.
*/
  background-clip: text; /* This property is well-supported across modern browsers without needing a prefix*/
  -webkit-background-clip: text; /*vendor-prefixed property for older version of Safari and Chrome*/
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.footer p {
  font-size: 16px;
  color: #e7c899;
  margin-bottom: 20px;
  background-color: transparent;
  font-weight: 500;
}

.social-container {
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.social-icon {
  margin-top: 10px;
  background-color: transparent;
}

.social-icon a {
  margin: 0 10px;
}

.social-icon img {
  width: 40px;
  height: 40px;
  background-color: transparent;
}
.social-icon a:hover {
  opacity: 0.6;
}

/*scroll button*/
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 32px;
  right: 30px;
  background-image: url("assets/footer_icon/arrow.png");
  background-repeat: no-repeat;
  background-size: 60px; /* Adjust the size of the background image (icon) */
  background-position: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 20%;
  border: none;
  outline: none;
  transition: 0.5s;
}

#back-to-top-btn:hover {
  background-color: crimson;
}

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;
  animation-name: btnExit;
}

@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
